/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
long-flash-257915-7c075221d96b.json
docker/mysql
storage
/docker/credentials
/supervisord.pid
